.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./../../assets/background/pixelForestPlaceholder.jpg");
    background-size: cover;
    font-size: 170%;
}

#loginArea {
    width: 80%;
    margin: auto;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
}

.login h1{
    width: 20%;
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 3vh;
    padding: 1vh 1vw;
}

.loginInput{
    width: 40%;
    margin: 1vh 0;
    padding: 1vh 1vw;
    font-size: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: grey .1rem solid;
    font-family: 'DotGothic16', sans-serif;
}

.loginBtn {
    width: 20%;
    margin: 2vh 0;
    padding: 0;
}

.signupLink{
    width: fit-content;
    align-items: center;
}

.link {
    float: left;
    width:fit-content;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    text-align: center;
}

.link:hover{
    color: blue;
}

#loginBtn{
    width: 20%;
    padding: 1vh 0;
    margin: 3vh 0;
    font-size: 80%;
    background-color: rgba(255, 255, 255, .6);
    border: grey .1rem solid;
}

#loginBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .8);
}

#loginBtn:active {
    background-color: rgba(255, 255, 255, .5);
}