#registration{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../../assets/background/pixelForestPlaceholder.jpg");
    background-size: cover;
}

#signupArea{
    width: 30%;
    margin: auto;
    border: .1rem grey solid;
    padding: 0 1vw;
    background-color: white;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
}

#title{
    width: 100%;
    align-items: center;
}

#signUpForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#signupUsername{
    width: 100%;
    display: flex;
}

#label{
    width: 20%;
    margin: 1vh 0;
}

#username{
    width: 80%;
    margin: 1vh 0;
}

#signupPassword{
    width: 100%;
    display: flex;
}

#password{
    width: 80%;
    margin: 1vh 0;
}

#signupLinkBtn{
    width: 100%;
    display: flex;
    padding: 1vh 0;
}

#link {
    padding: 0 2vw;
    float: left;
    width: 70%;
    margin: 1vh 0;
}

#link a{
    text-decoration: none;
    color: black;
}

#link a:hover{
    color: blue;
}

#submit{
    width: 30%;
    float: right;
    margin: 1vh 0;
}